body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}
span {
  color: midnightblue;
}

.left {
  float: left;
  height: 200px;
  width: 45%;
  display: inline-block;
}

.right {
  float: right;
  height: 200px;
  width: 45%;
  display: block;
}
 .tile-image {
    height: 200px;
    float: left;
    margin-right: 50px;
}
   
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }
@media (max-width: 600px) {
  body {
    margin: 20px;
  }
  h1 {
    font-size: 3rem;
  }
  .left, .right {
    width: 100%;
    height: auto;
    float: none;
    display: block;
    margin-bottom: 20px;
  }
  .tile-image {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
}
footer {
  clear: both;
  text-align: right;
  color: midnightblue;
}

