body {
    background-color: #f8f5f5;
}

logo {
    color: blue;
    font-size: 24px;
    font-weight: bold;
}

div{
    margin: 20px;
    background-color: rgb(247, 230, 230);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 18px;
    color: #2b0596;
    line-height: 1.6;
    background-color: rgb(104, 104, 230);
}