*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;

    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(black.jpg);
     background-size: cover;
     height: 100vh;
}
.navbar{
    width: 1400px;
    height: 100px;
    margin: auto;
    background-color: black;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color:rgb(247, 247, 247);
    font-size: 40px;
    font-family: Arial;
    padding-left: 20px;
    float:left;
    padding-top:10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
.text{
    margin-top: 90px;
    color: #FFF;
}
ul{
float: left;
display: flex;
justify-content: center;
align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
}
ul li {
list-style: none;
margin-left: 62px;
margin-top: 27px;
font-size: 20px;
}
ul li a{
    
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
}

.container{
    background-color: #140c0c;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #333;
	color: #fff;
}

.logo {
	width: 20%;
}

.logo img {
	width: 100%;
	height: 50px;
}

.social-links {
	width: 20%;
	text-align: center;
}

.social-links a {
	margin: 0 10px;
	font-size: 24px;
	color: #fff;
}

.footer-links {
	width: 40%;
}

.footer-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-links li {
	display: inline-block;
	margin-right: 20px;
}

.footer-links a {
	color: #fff;
	text-decoration: none;
}